<a href="/about">Go to About Page</a>
<a href="/">Go to Home Page</a>

<form action="/submit" method="POST">
    <input type="text" name="data" placeholder="Enter something">
    <button type="submit">Submit</button>
</form>